<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProSwapperV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ProSwapperV2.Properties.Settings>
            <setting name="GameLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="newtheme" serializeAs="String">
                <value>0,33,113;64,85,170;65,105,255;255,255,255</value>
            </setting>
            <setting name="lastopened" serializeAs="String">
                <value />
            </setting>
        </ProSwapperV2.Properties.Settings>
    </userSettings>
</configuration>
